<div class="row h-100 justify-content-center align-items-center">
  <div class="col align-self-center text-center">
    <h1>Welcome to Healthy Smoothies!</h1>
    <% if !current_user %>
      <p>Please <%= link_to "sign in", signin_path %> to start using our amazing app!</p>
    <% else !current_user %>
      <p>Go to your <%= link_to "Account", user_path(current_user) %></p>
    <% end %>
  </div>
</div>
