<div class="row">
  <div class="col text-center">
    <h1>Welcome to Healthy Smoothies!</h1>
    <button type="button" class="btn btn-primary list-all-smoothies">List all public smoothies</button>
  </div>
</div>
<div id="smoothies-list" class="row">
  <div class="col">
    <div class="card-columns">
    </div>
  </div>
</div>

<%= render 'layouts/smoothie_fullcard' %>
