<div class="row">
  <div class="col text-center">
    <% if obj.errors.any? %>
      <div id="error_explanation">
        <h4>There were some errors</h4>
        <ul>
          <% obj.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
